.activity-container {
    background-color: #fff;
    position: fixed;
    top: 48px;
    bottom: 0;
    right: 0;
    width: 60%;
    max-width: 760px;
    z-index: 100;
    box-shadow: 0 4px 8px #0003;
    transition: right .15s cubic-bezier(0, 0, .35, 1);
    display: flex;
    flex-direction: column;
    z-index: 111;

    .input-details {
        padding: 10px 20px;
        font-size: 1.1428571429rem;
        border-radius: 8px;
        border: none;
        flex-grow: 0.8;
        // outline: 1px solid #0073ea;
        font-family: figtree;
        font-size: 1rem;
        margin-left: 1em;
        height: 2em;
    }

    .contentImg_0a4efe4e24 {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .close-details {
        display: block;
        text-align: start;
        color: #323338;
        text-decoration: none;

        margin-left: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .upper-details-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .no-updates {
        display: flex;
        flex-direction: column;
        place-items: center;
        line-height: 2em;
        margin-left: 3em;
        text-align: center;
    }

    .input-details2 {
        padding: 10px 20px;
        font-size: 1.1428571429rem;
        border-radius: 8px;
        border: none;
        outline: 1px solid #0073ea;
        font-family: figtree;
        font-size: 1rem;
        margin-left: 2em;
        margin-right: 1.5em;
    }

    .details-option {
        background: none;
        color: #323338;
    }

    .lower-details {
        display: flex;
        flex-direction: column;
    }

    .send-update-wraper {
        margin-bottom: 4em;
        display: flex;
    }

    .regular-msg {
        margin-right: 0.5em;
    }
}