.activity-container {
    background-color: #fff;
    position: fixed;
    top: 48px;
    bottom: 0;
    right: 0;
    width: 60%;
    max-width: 760px;
    z-index: 100;
    box-shadow: 0 4px 8px #0003;
    transition: right .15s cubic-bezier(0, 0, .35, 1);
    display: flex;
    flex-direction: column;
    z-index: 999999;
    
    .activity-input-container{
        display: flex;
    }
    

    .right-top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .task-msg-preview {
        flex-grow: 1;
        margin: 20px;
        border: 1px solid #d0d4e4;
        border-radius: 4px;

        .avatar-name {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .avatar-date {
            justify-content: space-between;
            display: flex;
            margin-left: 1em;
            margin-right: 1em;
        }

        .time-task {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }



    .input-details {
        padding: 10px 20px;
        font-size: 1.1428571429rem;
        border-radius: 8px;
        border: none;
        flex-grow: 0.8;
        // outline: 1px solid #0073ea;
        font-family: figtree;
        font-size: 1rem;
        margin-left: 1em;
        height: 2em;
    }

    .contentImg_0a4efe4e24 {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .close-details {
        display: block;
        text-align: start;
        color: #323338;
        text-decoration: none;

        margin-left: 2em;
        margin-top: 1em;

        svg {
            color: #7a7a7a;
        }
    }

    .upper-details-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .actions-list {
            display: flex;
            justify-content: space-between;
            margin-right: 2em;

        }
    }

    .no-updates {
        display: flex;
        flex-direction: column;
        place-items: center;
        line-height: 2em;
        margin-left: 3em;
        text-align: center;
    }

    .input-details2 {
        padding: 10px 20px;
        font-size: 1.1428571429rem;
        border-radius: 8px;
        border: none;
        outline: 1px solid #0073ea;
        font-family: figtree;
        font-size: 1rem;
        margin-left: 2em;
        margin-right: 1.5em;
        flex-grow: 1;
    }

    .details-option {
        background: none;
        color: #323338;
    }

    .lower-details {
        display: flex;
        flex-direction: column;


        & .send-update-wrapper {
            margin-bottom: 1em;
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            justify-content: end;
            color: #7a7a7a;
            margin-inline-end: 1.3em;
            margin-top: 5px;
            font-size: 14px;
        }
    }

    .btn-clrblue {
        fill: #323338;
        width: 4.4em;
        padding-inline: 0.5714285714em;
        padding-block: 0.2857142857em;
        line-height: normal;
        border-radius: 4px;
        cursor: pointer;
        background-color: #0073ea;
        color: #fff;
        /* margin: 0; */
        padding: 6px;
        height: 3em;
        justify-self: end;
        /* margin-block-start: 5px; */
        margin-right: 1.5em;
    }

    .add-msg {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .regular-msg {
        margin-right: 0.5em;
    }
}