header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: em(48px);
   
    column-gap: 12px;
    overflow: hidden;
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;
    justify-content: space-between;
    // background-color: $;


    .logo {
        position: relative;
        height: 42px;
        margin-right: 16px;

        img {
            object-fit: contain;
            height: 100%;
        }


    }

    .nav-container {
        height: 48px;
        display: flex;
        justify-content: end;
        align-items: center;
        align-self: center;
        align-items: center;

    }



    // .user-info .btn-link {
    //     color: $clr2;
    // }

    // nav {
    //     font-size: .8em;
    //     // background-color: $clr5;
    //     padding: 5px;

    // }

    // nav a:first-child {
    //     margin-right: 30px;
    // }

    // nav a:not(:first-child) {
    //     border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }

    // nav .active {
    //     color: $clr1;
    // }

}