.overlap-images-wrapper {
    flex-wrap: nowrap;

    >* {
        position: relative;
        overflow: hidden;


    }


    > :first-child {
        height: 26px;
        width: 26px;
        margin-right: em(-5px);
    }

    > :nth-child(2) {
        height: 26px;
        width: 26px;
        // margin-right: em(-5px);
        margin-left: em(-5px);
    }

    > :last-child {
        height: 26px;
        width: 26px;
    }

    span>* {
        min-height: 26px;
        max-width: 26px;
        font-size: 13px;
        // margin-left: em(-5px);
        align-items: center;


    }

    .counterContainer_92bb3fc345.small_dd1b590d70 {
        min-width: none;
        color: #323338;
    }
}

.avatarGroupContainer_4a7aad6681 {
    padding-left: em(12.66px);
    padding-right: 0;
}

.textField_5c7ed8f268 .inputWrapper_f7d37dd0a6 .iconContainer_fb989f5083.iconContainerActive_6caf034a46 .icon_f7d37dd0a6 {
    bottom: 0.5em;
    right: 1.5em;
}

.member-option {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    width: 4em;
    margin-left: 1.7em;
    flex-direction: row;
    white-space: nowrap;
    gap: 1em;
    cursor: pointer;
}

.members-picker {
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .3);
    background-color: $bgc-main !important;
    width: 360px;
    position: absolute;
    z-index: 111;
    left: 41.3em;
    top: 2.4em;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: default;

    .textField_9430c37135 .inputWrapper_129bb61475 .iconContainer_8576251e2c.iconContainerActive_bcba3e1e17 .icon_129bb61475 {
        position: absolute;
        right: 1.8em;
        bottom: 0.6em;
    }

    .arrow {
        position: absolute;
        right: 21.8em;
        transform: translate3d(178.4px, 0px, 0px) rotate(45deg);
        top: -0.4em;
        z-index: 0;
        width: 16px;
        height: 16px;
        background-color: white;
        width: 12px;
        height: 12px;
        border-radius: 2px;
    }

    // .textField_9430c37135 .inputWrapper_129bb61475 .input_fb77b8179c.inputHasIcon_c8735863b0 {
    //     width: 24em;
    //     color: #323338;
    //     margin-bottom: 1em;
    // }

    .textField_5c7ed8f268 .inputWrapper_f7d37dd0a6 .input_45f5cffc4e.inputHasIcon_b527778477 {
        margin-bottom: 1em;
        width: 24em;
        color: #323338;

    }

    // .members-picker .textField_9430c37135 .inputWrapper_129bb61475 .input_fb77b8179c.inputHasIcon_c8735863b0 {
    //     color: #323338;
    //     margin-right: 0.5em;
    // }

    .chips-div {
        display: flex;
        place-content: start;

        margin-top: 0.8em;
        margin-bottom: 1em;
        margin-left: 1em;
    }
}

[data-testid="tooltip"] {
    z-index: 99999;
}