.board-list {
    .board-option-sidebar {
        list-style-type: none;
        font-size: 15px;
        line-height: 22.5px;
        font-family: Figtree, Roboto, "Noto Sans Hebrew", "Noto Kufi Arabic", "Noto Sans JP", sans-serif;
    }

    .board-side-preview {
        display: flex;
        gap: 1em;
        margin-bottom: 1em;
    }

    .board-side-preview:hover {
        background-color: #eceff8;
        border-radius: 2px;
        cursor: pointer;
    }
}