.board-list {
    .board-option-sidebar {
        list-style-type: none;
        font-size: 14px;
        line-height: 22.5px;
        margin-left: 6px;
        font-family: Figtree, Roboto, "Noto Sans Hebrew", "Noto Kufi Arabic", "Noto Sans JP", sans-serif;
        word-break: keep-all;
        white-space: nowrap;
        border: 1px solid transparent;
    }

    .actions-border-side {
        // box-shadow: 0 4px 17px 6px #0000001a;
        border-radius: 8px;
        white-space: nowrap;
        z-index: 1;
        opacity: 0;
    }

    .board-side-preview {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        padding-block: 4px;
        height: 32px;
        grid-template-columns: max-content 1fr max-content;
        margin-inline-end: 8px;
        padding: 0 8px;

        .svg-container-board-list-sidebar {
            width: min-content;
            padding-block-start: 5.375px;
        }

        &:hover {
            background-color: rgba(103, 104, 121, 10%);
            border-radius: 4px;
            width: 14em;
            cursor: pointer;
        }

        &:hover .actions-border-side {
            opacity: 1;
        }

        .input-sidebar-list {
            margin: 0;
            outline-width: 0.5px;
            // border: 1px solid $clr-border;
            height: 22px;
            margin-left: 5px;
            font-size: 14px;
            font-family: Figtree, roboto;
            width: 95%;
        }
    }

    .board-side-preview.active {
        background-color: #cce5ff;
        border-radius: 4px;
        width: 14em;
        // width: 14.2em;
    }

    .board-list-prev {
        display: flex;
        place-items: center;
    }

    .preview-three-points {
        opacity: 0;
        position: absolute;
        left: 15.5em;
        background: none;
    }

    .button.preview-three-points {
        background-color: none;
    }

    .board-side-preview:hover {
        .preview-three-points {
            opacity: 1;
        }
    }

    .action-side {
        display: flex;
        flex-direction: column;
        padding: 8px;
        white-space: nowrap;
        flex-direction: row;
        gap: 0.6em;

        &:hover {
            background-color: #eceff8;
        }
    }
}