.board-sidebar {
    background-color: #ffffff;
    position: relative;
    width: 270px;
    height: 100vh;
    border-radius: 1em;

    .actions-sidebar-upper {
        line-height: 20px;
        font-size: 14px;
        text-align: start;
        color: #323338;
        text-decoration: none;
        display: flex;
        gap: 1em;
        padding: 12px 40px 12px 12px;
        ;
    }

    .home-sidebar {
        line-height: 22.5px;
        font-size: 15px;
    }

    .sidebar-workspace {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .plus-button {
        background-color: #0073ea;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        box-shadow: none;
        border: none;
        height: 32px;
        line-height: 24px;
        font-family: Figtree, Roboto, "Noto Sans Hebrew", "Noto Kufi Arabic", "Noto Sans JP", sans-serif;
        margin-left: 1em;
    }

    .three-points {
        background-color: #ffffff;
        color: #323338;
        box-shadow: none;
    }

    .main-back {
        background: #fb275d;
        position: relative;
        display: flex;
        // align-items: center;
        // justify-content: center;
        font-weight: 500;
        margin: auto;
        color: #fff;
        padding: 0.3em;
        border-radius: 4px;
        margin-right: 2.5em;
        text-align: start;
        margin-left: 0;
    }

    .house-svg {
        position: absolute;
        bottom: -11px;
        left: 16.5px;
    }

    .main-workspace {
        color: #323338;
        line-height: 30px;
        font-size: 16px;
        text-align: start;
        // margin-right: 8em;
    }

    .close-sidebar-btn {
        right: 0px;
        top: 0px;
        position: absolute;
        background-color: #f6f7fb;
        color: #323338;
        box-shadow: 0;
        border-radius: 0px 8px;
    }

    .actions-sidebar-upper:hover {
        background-color: #eceff8;
    }
}