.board-header-wrapper {
    // background-color: $bgc-main;

    
    
    .board-title .edit-input {
        font-size: 500px; // Adjusts font size for headings within .board-title
    
     

        


        padding: 0 4px;
        min-width: 0;
        border: 1px solid transparent;
        
    
    }
}