.board-preview {
    position: relative;
    box-sizing: content-box;

    // overflow: auto;

    & ul {
        list-style: none;
    }

    .title-container {
        display: grid;
        grid-auto-flow: column;
    }

    .editable-container-cmp {
        margin-inline-start: 7px;
        height: 24px;
        display: grid;
        text-align: start;
        align-items: center;
        transition: all 0.1s ease-in-out;
        .editable-title-dyn-cmp, .editable-title-dyn-cmp-input {
            font-family: 'Figtree', sans-serif;
            font-size: 14px;
            width: 95%;
            border: 1px solid transparent;
            border-radius: em(4px);
            padding-inline-start: 3px;
            // padding: 4px;
            
            &:hover {
                border-color: $clr-border;
                transition: border-color 0.3s ease-in-out;
                cursor: pointer;
            }
    
            &:focus-visible, &:focus {
                border: none;
                outline: 1px solid #0073ea ;
            }
        }

        .editable-title-dyn-cmp {
            color: #909090;
        }
    
        .editable-title-dyn-cmp-input {
            display: block; // Ensures the input is block-level for full width
        }
    }

    .editable-container-title-cell {
        // margin-inline-start: 7px;
        height: 100%;
        display: grid;
        text-align: start;
        align-items: center;
        transition: all 0.1s ease-in-out;
        margin-inline-end: 7px;
        .editable-title-cell-cmp-span, .editable-title-cell-input {
            font-family: 'Figtree', sans-serif;
            font-size: 14px;
            // width: 95%;
            border: 1px solid transparent;
            border-radius: em(4px);
            // padding-inline-start: 3px;
            // padding: 4px;
            
            &:hover {
                border-color: $clr-border;
                transition: border-color 0.3s ease-in-out;
                cursor: pointer;
            }
    
            &:focus-visible, &:focus {
                // border: 1px solid transparent;
                outline: 1px solid #0073ea ;
            }
        }

        .editable-title-cell-cmp-span {
            width: max-content;
            padding-inline: 5px;
            padding-block-start: 2px;
            // padding-block-end: 2px;
            align-self: center;
            height: 24px;
            
        }
    
        .editable-title-cell-input {
            display: block; // Ensures the input is block-level for full width
            padding-inline: 5px;
            font-size: em(14px);
            // padding-block-start: 2px;
            // padding-block-end: 2px;
            height: 24px;
        }

    }
    .add-group-bottom-container {
        position: sticky;
        left: 40px;
        // bottom: 40px;
        width: max-content;
        align-items: center;
        border: 1px solid $clr-border;
        border-radius: 0.2em;
        // margin-left: 40px;
        // margin-bottom: 40px;
        padding-inline: 8px;
        padding-block: 4px;
        column-gap: 4px;
        background-color: #fff;
        cursor: pointer;
        margin-bottom: 40px;
        &:hover {
            background-color:rgba(103, 104, 121, 0.1);
        }

        .bottom-add-group-btn {
            // background-color: #fff;
            color: #323338;
            font-family: poppins;
            font-size: 14px;
            padding: 0;
            // appearance: none;
            // &:hover {
            //     background:rgba(103, 104, 121, 0.1);
            // }
        }
    }
}