.board-sidebar {
    background-color: #ffffff;
    position: relative;
    border-radius: 0 0.5em 0 0;
    transition: all 0.2s;
    z-index: 99999;
    width: 30px;
    // overflow: hidden;

    &.open-sidebar{
        .sidebar-container{
            width: 255px;
        }
    }


    & .sidebar-container {
        position: absolute;
        border-radius: 0 0.5em 0 0;

        left: 0;
        height: 100%;
        width: 30px; 
        background-color: #ffffff;
        transition: width 0.2s ease;
        overflow: hidden;

        &:hover {
            width: 255px;
            box-shadow: 0 6px 20px rgba(0, 0, 0, .2);


            > .lower-sidebar.close-sidebar{
                overflow: visible;
                opacity: 1;
            }
          
        }

        
    }

    .lower-sidebar.close-sidebar {
        margin-left: 1em;
        width: 30px;
        opacity: 0;
        overflow: hidden;
    }
    .lower-sidebar.open-sidebar {
        margin-left: 1em;
        width: 255px;
        opacity: 1;
        overflow: hidden;
    }
    

    &.close-sidebar {
        // width: 40px;
        // position: absolute;
        height: 100%;
        // overflow: hidden;
        transition: width .2s;
        width: 30px;
        // margin-right: 10px;


        &:hover {
            opacity: 1;
    
            box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
            z-index: 9999999;

            .button-sidebar {
                opacity: 1;
            }
        }
    }


    .button-sidebar {
        position: absolute;
        right: 0px;
        border-radius: 4px;
        width: 30px;
        height: 38px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: #f6f7fb;

        &:hover {

            background-color: rgba(103, 104, 121, 0.1);
        }
    }





    &.open-sidebar {
        width: 255px;
        // width: 100%;
        overflow: hidden;
        transition: width .2s;

        .button-sidebar {
            opacity: 1;

            &:hover {

                background-color: rgba(103, 104, 121, 0.1);
            }
        }
    }


    .textField_9430c37135 .inputWrapper_129bb61475 .input_fb77b8179c.inputHasIcon_c8735863b0 {
        width: 14em;
    }

    & .textField_5c7ed8f268 .inputWrapper_f7d37dd0a6 .input_45f5cffc4e.inputHasIcon_b527778477 {
        width: 14em;
    }

    .textField_9430c37135 .inputWrapper_129bb61475 .iconContainer_8576251e2c {
        right: 160px;
        width: 24px;
        height: 20px;
    }

    .textField_5c7ed8f268 .inputWrapper_f7d37dd0a6 .iconContainer_fb989f5083.iconContainerActive_6caf034a46 .icon_f7d37dd0a6 {
        display: none;
    }

    .actions-sidebar-upper {
        line-height: 1.5;
        font-size: 14px;
        text-align: start;
        color: #323338;
        text-decoration: none;
        display: flex;
        padding: 5px 40px 6px 4px;
        width: 14em;
    }

    .actions-sidebar-upper:hover {
        background-color: rgba(103, 104, 121, 10%);
        border-radius: 4px;
        width: 14em;
    }

    .actions-sidebar-upper-second {
        width: 14em;
        font-size: 14px;
        text-align: start;
        color: #323338;
        text-decoration: none;
        display: flex;
        // padding: 12px 40px 8px 0px;
        padding: 0.3em;
    }

    .upper-actions {
        border-bottom: 1px solid #d0d4e4;
        display: flex;
        flex-direction: column;
        width: 14em;

        // padding-right: 12px;
        padding-block: em(13px);
        width: 100%;
    }

    .home-sidebar {
        line-height: 22.5px;
        font-size: 14px;
    }

    .sidebar-workspace {
        display: flex;
        gap: em(12px);
        margin-bottom: em(13px);
        margin-top: 1em;
        margin-left: 0.2em;
    }

    .sidebar-workspace-second {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .sidebar-workspace-third {
        display: flex;
        justify-content: space-between;
    }

    .plus-button {
        background-color: #0073ea;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        box-shadow: none;
        border: none;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 24px;
        font-family: Figtree, Roboto, "Noto Sans Hebrew", "Noto Kufi Arabic", "Noto Sans JP", sans-serif;
        margin-left: 0.5em;
    }

    .three-points {
        background-color: #ffffff;
        color: #323338;
        box-shadow: none;
        display: contents;
    }

    .three-points:hover {
        background-color: #eceff8;
    }

    .main-back {
        background: #fb275d;
        position: relative;
        display: flex;
        font-weight: 500;
        color: #fff;
        padding: 0.25em;
        border-radius: 4px;
        text-align: start;
        height: 1.5em;
        font-size: 14px;
    }

    .house-svg {
        position: absolute;
        bottom: -11px;
        left: 12.5px;
    }

    .main-workspace {
        display: flex;
        color: #323338;
        line-height: 24px;
        font-size: 16px;
        text-align: start;
        // margin-right: 0.8em;
        gap: 1px;
        word-break: keep-all;
        white-space: nowrap;
        font-weight: 600;
        margin-right: em(36px);
    }

    .close-sidebar-btn {
        right: 0px;
        top: 0px;
        position: absolute;
        background-color: #f6f7fb;
        color: #323338;
        box-shadow: 0;
        border-radius: 0px 8px;
        padding: 0.4em;
    }

    .actions-sidebar-upper-second:hover {
        background-color: rgba(103, 104, 121, 10%);
        width: 16.4em;
        border-radius: 4px;
    }

    .input-sidebar {
        border-radius: 4px;
        outline: 1px solid #d0d4e4;
        border: none;
        height: auto;
        width: 14em;
    }


    // .sidebar-workspace2 {
    //     display: flex;
    //     justify-content: space-between;
    //     margin-bottom: 1em;
    //     margin-bottom: 0;
    //     position: absolute;
    //     left: -13em;
    //     top: -1.5em;
    // }

    .actions-workspace {
        position: absolute;
        top: 290px;
        // background-color: #fff;
        box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1019607843);
        border-radius: 8px;
        padding: 8px;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .arrow-workspace {
        position: absolute;
        right: 4.5em;
        top: 7.5em;
    }

    .favorites {
        display: flex;
        gap: 0.3em;

        &.p {
            line-height: 1.3;
        }
    }

    // .lower-sidebar.close-sidebar .all-sidebar {
    //     width: 30px;
    // }

    // &.lower-sidebar.close-sidebar:hover {
    //     width: 255px;
    // }



    // &:hover .open-sidebar {
    //     // width: 255px;
    //     z-index: 35;
    // opacity: 1;

    //     .button-sidebar {
    //         opacity: 1;
    //     }
    // }



}