.board-list {
    .board-option-sidebar {
        list-style-type: none;
        font-size: 14px;
        line-height: 22.5px;
        margin-left: 6px;
        font-family: Figtree, Roboto, "Noto Sans Hebrew", "Noto Kufi Arabic", "Noto Sans JP", sans-serif;
        word-break: keep-all;
        white-space: nowrap;
    }

    .board-side-preview {
        display: flex;
        gap: 1em;
        padding: 0.3em;
    }


    .board-side-preview:hover {
        background-color: #eceff8;
        border-radius: 4px;
        width: 14.2em;
        cursor: pointer;
    }

    .board-side-preview.active {
        background-color: #cce5ff;
        border-radius: 6px;
        width: 14.2em;
    }

    .board-list-prev {
        display: flex;
        place-items: center;
    }

    .preview-three-points {
        opacity: 0;
        position: absolute;
        left: 15.5em;
        background: none;
    }

    .button.preview-three-points {
        background-color: none;
    }

    .board-side-preview:hover {
        .preview-three-points {
            opacity: 1;
        }
    }

    .actions-border-side {
        position: absolute;
        left: 13em;
        background-color: #fff;
        box-shadow: 0 4px 17px 6px #0000001a;
        border-radius: 8px;
        padding: 8px;
        white-space: nowrap;
        z-index: 1;
    }

    .action-side {
        display: flex;
        flex-direction: column;
        padding: 8px;
        white-space: nowrap;
        flex-direction: row;
        gap: 0.6em;

        &:hover {
            background-color: #eceff8;
        }
    }
}