.board-index {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(30px,auto) 1fr;
    column-gap: 10px;
    overflow: hidden;
    @include for-mobile-layout {
        grid-template-columns: 1fr;


    }
}