.sidebar {
    grid-row: 1 / span 2;
    grid-column: 1;
}

.board-details {
    // overflow-y: auto;
    overflow: auto;
    background-color: $clr6;
    position: relative;
    border-radius: 0.5em 0 0 0;
    // min-width: 0;
    width: 100%;

    @include for-mobile-layout {
        border-radius: 0;

        >div {
            display: none;

        }

        // overflow: hidden;
    }
}

.loader-container {
    display: flex;
    place-items: center;
    place-content: center;
    overflow: auto;
    background-color: $clr6;
    position: relative;
}

.loader {
    width: 100px;
    height: 100px;
}