.board-preview {
    display: grid;
    position: relative;
    width: 100%;
    box-sizing: content-box;
    padding-bottom: em(40px);
    padding-left: em(40px);

    & ul{
        list-style: none;
    }
}