@include for-narrow-layout {
    .board-filter-wrapper {
        .chosen-member-filter {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            column-gap: 0.3em;
            background-color: rgb(204, 229, 255);
            padding: em(2px) em(4px);
            border-radius: em(4px);
        }
        .clear-member-filter {
            display: grid;
            align-items: center;
            justify-items: center;
            cursor: pointer;
            padding: 0.2em;
            border-radius: 0.2em;
            svg {
                width: 1em;
                height: 1em;
            }
            &:hover {
                background-color: #6768791a ;
            }
        }

        .person-filter-container {
            position: relative;

            & :nth-child(3) {
                padding: 0;
                // padding-inline-start: 4px;
            }

            .open-filter-person-title {
                font-size: 1.2em;
                font-family: Figtree-bold;
            }

            .open-filter-person-subtitle {}

            .open-filter-person {
                position: absolute;
                top: 32px;
                // width: 20vw;
                background: white;
                z-index: 1111111111111111;
                padding-block: 2em;
                padding-inline-end: 10em;
                padding-inline-start: 2em;
                text-align: start;
                box-shadow: 0 4px 8px #0003;
                display: grid;
                row-gap: 0.5em;

                & .avatar_ee8133c453{
                    margin-right: 10px;
                } 
            }
        }

        .board-filter {
            margin-top: em(8px);
            margin-left: em(6px);
            margin-bottom: em(16px);
            // display: grid;
            // position: relative;
            // height: 173px; 

            & [data-testid="split-button"] {
                margin-right: em(6px);
            }

            & #search-input-focused {
                padding-left: 30px;
                padding-bottom: 9px;
            }

            & [data-testid="clickable"] {
                color: $clr-icon;
                left: 6px;
            }

        }

        .mobile-filter {
            display: none;
        }
    }
}

@include for-mobile-layout {
    .board-filter-wrapper {
        margin-top: em(8px);
        margin-left: em(6px);
        margin-bottom: em(16px);

        .chosen-member-filter {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            column-gap: 0.5em;
        }

        .board-filter {
            display: none;
        }

        .mobile-filter {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .filter-wrapper {
                display: flex;
                gap: 10px;
            }

            .search-btn,
            .table-btn,
            .filter-btn {
                border-radius: .8em;
                background-color: #F5F6FA;
                // padding-left: 6px;
                // padding-right: 4px;
                padding-inline: 8px;
                padding-block: 0px;
            }

            .search-btn {
                width: 40px;
            }
        }
    }

}