.board-header-wrapper {
    grid-row: 1;
    padding: 20px 30px 0px 32px;
    padding-top: 16px;
    position: sticky;
    top: 0;
    background-color: $bgc-main;
    width: 100%;
    z-index: 111;

    .board-header {
        grid-row: 1;
        display: grid;
        grid-template-rows: auto auto;
        row-gap: em(10px);
        transition: .5s;

        .board-header-top {
            min-width: 0;
            border: 1px solid transparent;

            .board-title-left {
                transition: all 0.1s ease-in-out;


                .editable-container {
                    align-items: center;

                    .editable-title {
                        font-family: 'Poppins Medium', sans-serif;
                        font-size: em(32px);
                        width: 100%;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border: 1px solid transparent;
                        border-radius: em(2px);
                        padding: 4px;

                        &:hover {
                            border-color: $clr-border;
                            transition: border-color 0.3s ease-in-out;
                        }

                        &:focus-visible {
                            display: flex;
                            outline: solid #0073ea 1px;

                            .board-title-left {
                                flex-grow: 1;
                            }
                        }
                    }
                }
            }
        }

        .dyn-search {
            width: 200px;
            padding-left: 6px;
            transition: .5s;
        }

        .counterContainer_92bb3fc345.light_03931cbba0 {
            background-color: $bgc-main;
            border-color: $clr-border;

            .kindFill_ba4c56c649.colorLight_03931cbba0 {
                background-color: $bgc-main;
            }
        }

        .board-title-right {
            gap: em(8px);
        }

        .board-header-toolkit {
            display: flex;
            align-items: center;
            margin-bottom: em(4px);

            span {
                margin-right: em(4px);
            }
        }

        .board-header-bottom {
            margin-left: 6px;
            height: 36px;
            border-bottom: 1px solid $clr-border;
            align-items: center;

            .tabsWrapper_63f5a9c091 {

                padding-bottom: 0;
                margin-top: em(3px);

                .tabWrapper_327c220e12 .tabInner_3d041b1150 {
                    font-size: 14px;
                    padding-left: 8px;
                    padding-right: 8px;

                    &:not(:hover)::after {
                        content: "";
                        display: block;
                        height: 16px;
                        width: 100%;
                        border-right: 1px solid $clr-border;
                        position: absolute;
                    }
                }
            }
        }
    }
}