.group-card {


    @include for-mobile-layout {
        padding-left: 1em;
    }


    & .collapsed-group {
        margin-bottom: 50px;

        & .group-container {
            padding: 4px 8px 8px 0;
            background-color: transparent !important;
            display: grid;
            grid-template-columns: 40px 600px 150px 150px 150px 400px 1fr;
            grid-auto-columns: minmax(100px, 1fr);
            grid-auto-rows: 30px 30px;
            width: 100%;
            margin-bottom: 1.75em;


            & .blank-cell {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            & .btn-group-collapse-arrow {
                margin-left: 4px;
            }

            & .group-preview-title-container {
                border: none;
            }

            & .group-wrapper {
                display: grid;
                grid-template-columns: 600px 150px 150px 150px 400px 1fr;
                grid-auto-columns: minmax(100px, 1fr);
                grid-auto-rows: 30px 30px;
                border-bottom: 1px solid $clr-border;
                border-top-left-radius: 0.6em;
                // grid-auto-rows: auto;
                z-index: 999;
                width: 100%;

            }

            & .header-items {
                border-top-right-radius: 0.6em;
                border-top-left-radius: 0.6em;
                border-top: 1px solid $clr-border;
                border-right: 1px solid $clr-border;
                height: auto;


                & .dyn-cell.header-item:not(:nth-child(2)) {
                    border-top: none;
                    border-right: 1px solid $clr-border;
                }

                & .dyn-cell.header-item:nth-child(2) {
                    border-top: none;
                    border-left: 1px solid $clr-border;
                }


            }

            & .list-item {
                display: grid;
                border: none;

                & .stats-clrs-container {
                    width: 100%;
                    padding: 0 8px;

                    &:first-child {
                        border-top: none;
                    }
                }

                & .group-statistics-fill {
                    border: none;
                    border-left: 0.4em solid rgb(255, 202, 0);
                    border-bottom-left-radius: 0.6em;
                    border-bottom: 1px solid $clr-border;
                    grid-column: 1 / 2;
                    position: sticky;
                    left: 0px;
                    background: white;
                    display: flex;
                    align-items: center;
                    position: sticky;
                    left: 40px;





                    & span {
                        margin-left: em(36px);
                        color: #676879;
                    }


                    &.stats-cell-container {
                        padding: 0;
                    }

                }

                &.statistics {

                    grid-template-columns: subgrid;
                    height: 2.25em;
                    align-items: center;
                    text-align: center;
                    position: sticky;
                    background-color: #ffffff;
                    top: 156px;
                    z-index: 9999;
                    border-bottom: 1px solid $clr-border;
                    border-right: 1px solid $clr-border;
                    border-bottom-right-radius: 0.6em;



                    & .dyn-cell.infinity {
                        border: none;
                    }

                    & .stats-fill-cell {
                        // border-right: 1px solid $clr-border;
                        border: none;

                    }

                    & .stats-cell-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        width: 150px;
                        padding: 0;
                    }

                    & .stats-cell-container:not(:nth-child(1)) {
                        border-radius: 0;
                        border-left: 1px solid $clr-border;
                        border-right: 1px solid $clr-border;

                    }


                    & .stats-fill-cell {
                        // border: transparent;
                        border-top: none;
                        border-right: none;
                        border-bottom: none;
                        border-bottom-right-radius: 0.6em;
                    }
                }
            }
        }
    }
}