.group-list {
    display: grid;
    row-gap: 2em;
    position: relative;
    width: max-content;
    // >* {
    //     background-color: $bgc-main;
    // }

    .header-items {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 36px 350px 150px 150px 100px 200px repeat(auto-fill, 100px);
        border: 1px solid $clr-border;
        height: 2.25em;
        align-items: center;
        text-align: center;
        border-right: 1px solid $clr-border;
        // border-left: 0.4em solid $clr-label-3;
        // border-top-left-radius: 0.3em
    }

    &>* {
        grid-template-columns: subgrid;
    }

    .header-items .dyn-cell {
        border-right: 1px solid $clr-border;
        height: 2.25em;
        display: grid;
        align-self: center;
        align-items: center;
    }

    .group-title {
        font-family: poppins;
        font-size: 1.125em;
        margin-right: 7px;
    }

    .group-header {
        display: grid;
        position: relative;
        right: 1.8em;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        // color: $clr-label-3;

        .elementTypeH3_ca3a1ab6a4.sizeLarge_c730ce20f8 {
            font-family: poppins-medium;
            font-size: 18px !important;
        }
    }

    .group-header button {
        opacity: 0;
        transition: 0.3s;
    }

    .group-header:hover button {
        opacity: 1;
    }

    .wrapper_3963731b0e {
        justify-self: center;
        position: relative;
        display: grid;
        align-items: center;
        width: fit-content;
        height: min-content;
    }

    .dyn-cell.checkbox-header-container {
        display: grid;
        justify-items: center;
    }

    .group-container {
       background-color: $bgc-main;

    }
}