.label-picker-container {
    position: absolute;
    background-color: #ffffff;
    width: 200px;
    
    display: grid;
    justify-content: center;
    cursor: pointer;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.32);
    // -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
    // -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
    height: max-content;
    border-radius: 0.6em;
    z-index: 11111111111111;
    flex-direction: column;
    place-items: center;
    color: #323338;
    
    // padding: 16px 24px 8px;

    // padding: 5px;

    ul {
        display: grid;
        row-gap: 7px;
        padding-bottom: 10px;
    }

    li {
        display: grid;
        align-items: center;
        justify-items: center;
        color: white;
        border-radius: 0.2em;
        // margin-bottom: 7px;
        // width: 150px;
    }

    li:hover {
        opacity: 0.85;
    }

    .cell-target-indicator {
        height: 20px;
        width: 100%;
        background-color: #f0f0f0;
        text-align: center;
        line-height: 20px;
        border-top-left-radius: 0.6em;
        border-top-right-radius: 0.6em;
    }

    .edit-btn {
        background: none;
        width: 170px;
        border-radius: 0.3em;
        height: 32px;
        font-family: figtree;
        font-size: 14px;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        
    }

    .edit-btn:hover {
        background-color: rgba(103, 104, 121, 10%);
    }

    .arrow-up {
        position: absolute;
        // right: 15.4em;
        right: 270px;
        transform: translate3d(178.4px, 0px, 0px) rotate(45deg);
        top: -0.5em;
        z-index: 11111111111111;
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border-radius: 2px;
        // box-shadow: 0 8px 16px 0 rgba(0,0,0,.32);
    }

    .arrow-down{
        position: absolute;
        right: 270px;
        transform: translate3d(178.4px, 0px, 0px) rotate(45deg);
        z-index: 11111111111111;
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border-radius: 2px;
        bottom: -8px;
    }


}




// .dyn-cell {
//     position: relative;
//     user-select: none;
//     cursor: pointer;

//     .label-picker-container {
//         display: flex;
//         justify-content: center;
//         transition: width .1s;
//         pointer-events: none;
//         z-index: 9999;
//         position: absolute;

//         .label-picker-content {
//             box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
//             -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
//             -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32);

//             align-items: center;
//             padding: 16px 24px 8px;
//             border-radius: 8px;
//             background-color: $bgc-main;
//             // height: 400px;
//             max-width: 200px;


//             // inset: 0px auto auto 0px;
//             // transform: translate(928px, 369.333px, 0px);
//             // overflow-x: auto;
//             // overflow-y: hidden;

//             // .label {
//             //     cursor: pointer;
//             //     display: flex;
//             //     align-items: center;
//             //     justify-content: center;
//             //     border-radius: em(2px);
//             //     margin-bottom: 8px;
//             //     padding: 0 em(4px);
//             //     height: em(32px);
//             //     width: em(152px);
//             //     transition: transform .1s ease-in-out, opacity .1s ease-in-out;

//                 // &:hover {

//                 // }
//             }
//         }
//     }