.list-item {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    grid-auto-flow: column;

    border-left: none;
    border-right: none;
    // height: 2.25em;
    height: 36px;
    align-items: center;
    text-align: center;
    position: relative;



    .task-effect-box {
        position: absolute;
        pointer-events: none;
        height: 36px;
        left: 0;
        background-color: #ffffff48;
        z-index: 10;
        box-shadow: 4px 3px 6px -3px #c3c6d4;
        // box-shadow: 4px 3px 6px -3px #112a96;
        transform: translate(40px);
        width: 100vw;
        opacity: 0;
    }

    &:hover {
        .task-effect-box {
            opacity: 1;
        }

        .dyn-cell {

            &.status {
                background-color: rgb(106, 121, 151);
            }
        }
    }


    & .blank-cell-add-task {
        position: sticky;
        left: 0;
        height: 36px;
        background: white;
    }

    &.drag {
        // position: relative;
        background-color: $bgc-main;
        rotate: 1deg;
        opacity: 60%;
        border-bottom: 1px solid $clr-border;
    }

    .dyn-cell {
        align-self: center;
        height: 36px;
        display: grid;
        align-items: center;
        // border-left: 1px solid $clr-border;
        border-right: 1px solid $clr-border;

        &.infinity {
            border: 1px solid #d0d4e4;
            border-left: none;
            border-top: none;
            border-right: none;
        }

        // width: 100px;

        // &:not(:first-child) {
        //     justify-items: center;
        // }

        & .editable-container-cell {
            .editable-title-cell {
                border-bottom: 1px solid #d0d4e4;
                height: 100%;

                span {
                    text-decoration: none;
                    appearance: none;

                }
            }
        }


    }

    .members {
        display: grid;
        justify-items: center;
        border-bottom: 1px solid $clr-border;
        grid-auto-flow: column;
        grid-template-columns: 14px 1fr 14px;
        cursor: pointer;
        // justify-content: center;


        &:hover svg {
            opacity: 1;

        }

        // justify-content: space-between;
        // padding-inline: 4px;
        svg {
            // height: 14px;
            justify-self: start;
            padding-inline-start: 6px;
            left: 6px;
            opacity: 0;
        }
    }

    .status,
    .priority {
        color: $clr6;
        position: relative;
        font-size: 0.875em;
        line-height: 1.3125;
        border-bottom: 1px solid #d0d4e4;


        & .label-fold {
            position: absolute;
            height: 12px;
            width: 12px;
            right: 0;
            top: 0;
            transition: 0.2s 0.2s ease;
            transform-origin: right top;
            transform: scale(0);

            & .half {
                position: absolute;
                width: 100%;
                height: 100%;

                &.first-half {
                    background-color: rgb(255, 255, 255);
                    clip-path: polygon(0 0, 100% 0, 100% 100%);
                }

                &.second-half {
                    background-color: rgba(0, 0, 0, .2);
                    clip-path: polygon(0 0, 0% 100%, 100% 100%);
                    z-index: 1;
                }
            }

        }

        &:hover {

            .label-fold {
                right: -1;
                transform: scale(1);
                z-index: 1;
            }
        }

        // height: 100%;
    }







    .dyn-cell.title div {
        margin-inline-start: 36px;
    }

    .dyn-cell.title {
        border-bottom: 1px solid #d0d4e4;
    }

    .btn-message-container {
        border-bottom: 1px solid #d0d4e4;
    }

    &.add-task {
        // position: sticky;
        display: grid;
        border-bottom-left-radius: 0.3em;
        background-color: white;
        grid-column: 1/-1;
        border-bottom: 1px solid #d0d4e4;
        // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        // left: 50px;


    }

    & .add-task-sticky-container {
        // box-shadow: 0 4px 8px #0003;
        // margin-right: -10px;
        // // clip-path: inset(0 -10px 0 0); 
        // z-index: 2;

    }

    &.add-task div {
        // grid-column: 2;
        // padding-left: 0.9em;
    }

    & .checkbox-container {
        display: grid;
        justify-items: center;
        // position: relative;
        width: 36px;
        border-bottom: 1px solid #d0d4e4;
        // border-top: none;
        // border-bottom: none;
    }

    // &:not(.add-task):last-of-type {
    //     border-bottom: none;
    // }

    .timeline-container {
        background-color: rgb(48, 48, 48);
        height: em(22px);
        color: white;
        border-radius: 1em;
        position: relative;
        text-align: center;
        width: 80%;

        // padding-left: 10px;

        .progress-bar-container {

            display: flex;
            align-items: center;
            position: relative;
            height: 22px;
            border-radius: 22em !important;
            overflow: hidden;
        }

        .progress-bar {
            background-color: #00c875;
            // height: 100%;
            // border-radius: inherit;
            transition: width 0.4s ease;
            position: absolute;
            left: 0;
            top: 0;
        }

        .progress-bar-container span {
            font-size: 13px;
            z-index: 1;
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
    }

    .task-actions {
        display: grid;
        position: sticky;
        left: 0;
        height: 100%;
        background: #fff;
        justify-content: center;
        align-items: center;
        z-index: 11111;
    }

    &:hover .task-actions button {
        opacity: 1;
        transition: 0.3s;
    }

    .task-actions button {
        opacity: 0;
    }

    .dyn-cell.txt {
        display: grid;
        justify-items: center;
        border-bottom: 1px solid $clr-border;
        position: relative;
        // padding: 2px;
        .shadow-txt-cell {
            box-shadow: inset 0 0 0px 1px #4169a3;
            background: #cce5fe;
        }

        &:hover svg {
            opacity: 1;
        }

        .empty-text-container {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            position: absolute;
            cursor: text;
            // pointer-events: fill;
            // width: 100%;
            justify-content: center;
            padding-bottom: 5px;
            column-gap: 2px;
        }
        
        svg {
            // height: 18px;
            // justify-self: start;
            // position: absolute;
            // padding-inline-start: 6px;
            left: 0;
            // pointer-events: fill;
            // left: 6px;
            opacity: 0;
            transition: 0.3s;
        }
     
    & .editable-container-cell {
        padding: 5px;
        height: 100%;
        width: 100%;
        
        
        display: grid;
        text-align: start;
        align-content: center;
        transition: all 0.1s ease-in-out;
        // justify-content: center;

   
        
        .editable-title-cell, .editable-title-dyn-cell-input {
            font-family: 'Figtree', sans-serif;
            font-size: 13px;
            width: 95%;
            border: 1px solid transparent;
            // border-radius: em(4px);
            height: 24px;
            cursor: text;
            
            // padding: 4px;
            
         
    
            &:focus-visible, &:focus {
                border: none;
                outline: 1px solid #0073ea ;
            }
        }

        .editable-title-cell {
            // color: #909090;
            text-overflow: ellipsis;
            text-align: center;
            align-self: center;
            border-radius: 0;
            overflow: hidden; /* Hides text that overflows the element's box */
            text-overflow: ellipsis; /* Replace overflow with ellipsis */
            white-space: nowrap; /* Prevents text from wrapping */
            height: 24px;
            width: 100%;
            padding-top: 2px;
            display: grid;
            justify-items: center;
            
            cursor: text;
            &:hover {
                border-color: $clr-border;
                transition: border-color 0.3s ease-in-out;
            }
        }
    
        .editable-title-dyn-cell-input {
            display: block;
            text-align: center;
            height: 24px;
            width: 100%;

            &:hover {
                border-color: $clr-border;
                transition: border-color 0.3s ease-in-out;
            }
        }
    }



    }

    .dyn-cell.date-container {
        border-bottom: 1px solid $clr-border;
    }

    .dyn-cell.files {
        border-bottom: 1px solid $clr-border;

    }


    .dyn-cell.timeline {
        // display: grid;
        justify-items: center;
        border-bottom: 1px solid $clr-border;
    }

    .dyn-cell.timelines {
        // display: grid;
        justify-items: center;
        border-bottom: 1px solid $clr-border;
    }

    .task-title-cell {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 65px;
        border-left: none;
        border-right: none;
    }

    & .add-task-sticky-container {
        // height: 100%;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 36px;
        position: sticky;
        left: 40px;

        // border-bottom-left-radius: 0.3em;
        // grid-column: 2 / -1;
    }

    & .add-task-content-container {
        display: grid;
        align-items: center;
        width: 100%;
        // border-top: 1px solid #d0d4e4;
        height: 36px;
    }

    & .add-task-fill-gap {
        grid-column: 3/-1;
        height: 36px;
        width: 100%;
        // border: 1px solid #d0d4e4;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    & .add-task-checkbox {
        opacity: .4;
    }

    & .btn-message-container {
        display: grid;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #d0d4e4;
    }

    & .btn-message-container a {
        display: grid;
    }

    & .btn-message-container svg {
        color: $clr-icon;
        width: 22px;
        height: 22px;
    }

    & .btn-message-container svg:hover {
        color: $clr-btn;
    }

    &.statistics {
        >:nth-child(2) {
            border-bottom-left-radius: 0.3em;
            border-left: 1px solid $clr-border;
            border-right: 1px solid $clr-border;
        }
    }

    & .group-statistics-fill {
        // border: 1px solid $clr-border;
        height: em(36px);
        border-bottom: none;
        border-left: none;
        border-top: none;
        background-color: transparent;
        // box-shadow: 0 4px 8px #0003;
        // margin-right: -10px;
        // clip-path: inset(0 -10px 0 0); 
        z-index: 2;
        box-shadow: 1px 8px 0 -1px $bgc-main, 0 8px 9px -9px rgba(0, 0, 0, 0.1);
    }

    & .stats-clrs-container {
        padding-inline: 4px;
        padding-block: 8px;
        // display: flex;
        pointer-events: fill;


        & div {
            height: 24px;
            border: none;
            user-select: none;
            cursor: pointer;


            &:hover {
                border-radius: em(2px);
                transition: 0.2s;
                transform: scale(1.2);
            }

        }
    }

    & .stats-cell-container {
        border: 1px solid $clr-border;
        height: 36px;
        align-content: center;
        border-top: none;
        width: 100%;
        border-right: none;
        border-left: none;

        &:first-child {
            border-left: 1px solid $clr-border;

        }

    }

    & .stats-cell-container:first-of-type {
        border-left: none;
    }

    & .stats-fill-cell {
        border: 1px solid $clr-border;
        height: 36px;
        border-top: none;
        border-right: none;
    }



    // & .task-preview-title-container .task-title-cell:last-of-type {
    //     border-bottom: 1px solid #d0d4e4;
    // }

    // checkbox

}