.list-item {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    grid-auto-flow: column;

    // border: 1px solid $clr-border;
    border-left: none;
    border-right: none;
    height: 2.25em;
    align-items: center;
    text-align: center;
    position: relative;
    // box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    // z-index: 11111111111111111111111111111111111;

    // & .on-hover-task {
    //     z-index: 111111111111111111;
    //     // pointer-events:none;
    //     &:hover{

    //         background-color: rgba(103, 104, 121, 0.1);
    //     }

    // border-left: 0.4em solid $clr-label-3;

    .task-effect-box {
        position: absolute;
        pointer-events: none;
        height: 36px;
        left: 0;
        background-color: #32333813;
        z-index: 99999;
        // box-shadow: 4px 3px 6px -3px #c3c6d4;
        // box-shadow: 4px 3px 6px -3px #112a96;
        transform: translate(40px);
        width: 100vw;
        opacity: 0;
    }

    &:hover {

        // background-color: rgba(103, 104, 121, 0.1);
        .task-effect-box {
            opacity: 1;
        }
    }

    & .blank-cell-add-task {
        position: sticky;
        left: 0;
        height: 40px;
        background: white;
    }

    &.drag {
        // position: relative;
        background-color: $bgc-main;
        rotate: 1deg;
        opacity: 60%;
        border-bottom: 1px solid $clr-border;
    }

    .dyn-cell {
        align-self: center;
        height: 36px;
        display: grid;
        align-items: center;
        // border-left: 1px solid $clr-border;
        border-right: 1px solid $clr-border;
        

        // width: 100px;

        &:not(:first-child) {
            justify-items: center;
        }

    }

    .members {
        display: grid;
        justify-items: center;
        border-bottom: 1px solid $clr-border;
    }

    .status,
    .priority {
        color: $clr6;
        font-size: 0.875em;
        line-height: 1.3125;
        // height: 100%;
    }

    .dyn-cell.title div {
        margin-inline-start: 36px;
    }

    &.add-task {
        // position: sticky;
        display: grid;
        border-bottom-left-radius: 0.3em;
        background-color: white;
        grid-column: 1/-1;
        // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        // left: 40px;
    }

    &.add-task div {
        // grid-column: 2;
        // padding-left: 0.9em;
    }

    .dyn-cell.checkbox-container {
        display: grid;
        justify-items: center;
        // position: relative;
        width: 36px;
        border: 1px solid #d0d4e4;
        border-bottom: none;


    }

    .timeline-container {
        background-color: rgb(48, 48, 48);
        height: em(22px);
        color: white;
        border-radius: 1em;
        position: relative;
        text-align: center;
        width: 80%;

        // padding-left: 10px;

        .progress-bar-container {

            display: flex;
            align-items: center;
            position: relative;
            height: 22px;
            border-radius: 22em !important;
            overflow: hidden;
        }

        .progress-bar {
            background-color: #00c875;
            // height: 100%;
            // border-radius: inherit;
            transition: width 0.4s ease;
            position: absolute;
            left: 0;
            top: 0;
        }

        .progress-bar-container span {
            font-size: 13px;
            z-index: 1;
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
    }

    .task-actions {
        display: grid;
        position: sticky;
        left: 0;
        height: 100%;
        background: #fff;
        justify-content: center;
        align-items: center;
        z-index: 11111;
    }

    &:hover .task-actions button {
        opacity: 1;
        transition: 0.3s;
    }

    .task-actions button {
        opacity: 0;
    }

    .dyn-cell.txt {
        display: grid;
        justify-items: center;
        border-bottom: 1px solid $clr-border;
    }

    .dyn-cell.date-container {
        border-bottom: 1px solid $clr-border;
    }

    .dyn-cell.files {
        border-bottom: 1px solid $clr-border;

    }


    .dyn-cell.timeline {
        // display: grid;
        justify-items: center;
        border-bottom: 1px solid $clr-border;
    }

    .dyn-cell.timelines {
        // display: grid;
        justify-items: center;
        border-bottom: 1px solid $clr-border;
    }

    .task-title-cell {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 65px;
        border-top: 1px solid #d0d4e4;
        border-left: none;
        border-right: none;
        // width: 377px;
    }

    & .add-task-sticky-container {
        // height: 100%;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 36px;
        position: sticky;
        left: 40px;
        
        // border-bottom-left-radius: 0.3em;
        // grid-column: 2 / -1;
    }

    & .add-task-content-container {
        display: grid;
        align-items: center;
        width: 100%;
        border-top: 1px solid #d0d4e4;
        height: 36px;
    }

    & .add-task-fill-gap {
        grid-column: 3/-1;
        height: 36px;
        width: 100%;
        border: 1px solid #d0d4e4;
        border-left: none;
        border-right: none;
    }

    & .add-task-checkbox {
        opacity: .4;
    }

    & .btn-message-container {
        display: grid;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #d0d4e4;
    }

    & .btn-message-container a {
        display: grid;
    }

    & .btn-message-container svg {
        color: $clr-icon;
        width: 22px;
        height: 22px;
    }

    & .btn-message-container svg:hover {
        color: $clr-btn;
    }

    &.statistics {
        >:nth-child(2) {
            border-bottom-left-radius: 0.3em;
            border-left: 1px solid $clr-border;
        }
    }

    & .group-statistics-fill {
        // border: 1px solid $clr-border;
        height: 36px;
        border-bottom: none;
        border-left: none;
        border-top: none;

    }

    & .stats-cell-container {
        border: 1px solid $clr-border;
        height: 36px;
        align-content: center;
        border-top: none;
        width: 100%;
        // border-right: none;
        border-left: none;

        &:first-child {
            border-left: 1px solid $clr-border;
        }

    }

    & .stats-cell-container:first-of-type {
        border-left: none;
    }

    & .stats-fill-cell {
        border: 1px solid $clr-border;
        height: 36px;
        border-top: none;
        border-right: none;
    }
    
    

    // & .task-preview-title-container .task-title-cell:last-of-type {
    //     border-bottom: 1px solid #d0d4e4;
    // }

    // checkbox

}