* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    color: $clr-main;

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    font-family: figtree;
    background-color: $bgc-page;
    line-height: 1;
    margin: 0;

}

span {
    font-size: em(14px);
    line-height: lh(21px);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: poppins-medium;
}

h1 {
    font-size: em(30px);
    line-height: lh(42px);
}

h2 {
    font-size: em(32px);
    line-height: lh(32px);
}

h3 {
    font-size: em(24px);
    line-height: lh(32px);
}

h4 {
    font-size: em(18px);
    line-height: lh(24px);
}

h5 {
    font-size: 1em;
    line-height: lh(24px);
}


section,
main,
footer {
    // padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-auto-flow: column;
}

html,
body,
div,
span,
p,
blockquote,
pre,
a,
em,
img,
strong,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
output,
section,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

.show {
    display: block;
}

.hide {
    display: none;
}

.active{
    color:#323338;
}