* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: figtree;
    line-height: 1.6;
    color: $clr-main;
}

body {
    font-size: rem(18px);
    margin: 0;
    max-width: 1024px;
    margin: auto;
    background-color: $bgc-main;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: poppins;
    margin: 0 0 0.6em;
    line-height: 1;
}


section,
main,
footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}