* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    color: $clr-main;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    font-family: figtree;
    background-color: $bgc-page;
    line-height: 1;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: poppins;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


section,
main,
footer {
    // padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main{
   display: grid; 
   grid-auto-flow: column;
}