.home-page {
    background-color: $bgc-main;
    height: 100%;
    overflow: auto;

    & .home-header {
        display: flex;
        align-items: center;
        width: em(1440px);
        height: em(72px);
        margin-left: auto;
        margin-right: auto;

        & .home-actions {
            display: flex;
            align-items: center;
            gap: em(16px);


            & .login-btn {
                font-family: poppins;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 10px;
                height: em(32px);
                width: em(60px);
                border-radius: em(8px);
                font-size: 14px;
                color: $clr-main;
                background: none;

                &:hover {
                    color: #5034FF;
                    background-color: #F0F3FF;
                }
            }

            & .cta-btn {
                font-family: poppins;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 130px;
                background-color: rgb(97, 97, 255);
                border-radius: 2em;
                padding: 8px 14px 8px 16px;
                font-size: 13px;
                border-bottom: none;

                &:hover {
                    background-color: #5151d5;
                    border-bottom: none;
                }
            }
        }

        .logo {
            position: relative;
            height: 38px;
            margin-right: 16px;

            img {
                object-fit: contain;
                height: 100%;
            }
        }

    }

    & .hero-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2.7vw;
        color: rgb(0, 0, 0);

        & h1 {
            font-family: poppins-bold;
            // margin-bottom: 1vw;
            font-size: em(60px);
            letter-spacing: -.5px;
            // line-height: em(85px);
        }

        & h2 {
            font-family: poppins-ex-light;
            font-size: em(24px);
            letter-spacing: .2px;
            line-height: em(30px);
            text-align: center;
            word-break: break-word;
            // text-size-adjust: 100%;

        }
    }


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}


.grid-item {
    padding: 20px;
    background-color: blue;
    border: 1px solid black;
    resize: both;
    /* Allows resizing */
    overflow: auto;
    /* Needed to enable resizing */
}

.welcome-section {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3c6d4;
    border-radius: .5em;
    height: 7.5em;
    margin: .5em;
    padding: .5em;
    padding-block-start: .4375em;
    text-align: center;
    width: 8.8571428571rem;
    height: 8.8571428571rem;
}

.img-welcome {
    width: 4em;
    height: 4em;
}

.btn-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 4em;
    margin-top: 1.5em;
}

.cta-button {
    font-family: poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 130px;
    background-color: rgb(97, 97, 255);
    border-radius: 2em;
    padding: 8px 14px 8px 16px;
    font-size: 13px;
    border-bottom: none;
    gap: 1em;
    white-space: nowrap;
    margin-bottom: 1em;
}

.cta-button:hover {
    border-bottom: none;
    text-decoration: none;
}

.sponsers-section {
    padding-block: 4.375em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsers-imgs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    // margin-top: 3em;
}

.boost-your-team {
    justify-content: center;
    padding: 90px;
}

.footer-section-full {
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    background: #181b34;
    padding: 4.5714285714rem 0;
    margin-block-start: 7.1428571429rem;
    font-family: poppins-light;
}

.p-home {

    font-size: 1.2857142857rem;
    line-height: 32px;
    margin-bottom: 20px;
}

.span {
    font-size: 1.1428571429rem;
    font-family: poppins-light;
    line-height: 40px;
    // word-break: break-word;
}

.video-sec {
    display: flex;
    place-items: center;
    place-content: center;
    gap: 4.5em;
}

.title-and-icon-wrapper {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.monday-markup-language {
    font-size: 1.125rem;
    line-height: 32px;
    margin: 0;
    word-break: break-word;
    width: 21em;
}

.home-video {
    width: 35em;
    padding: 56px 48px;
    filter: drop-shadow(0px 8px 24px rgba(29, 140, 242, 0.5));
}

.title-video-section {
    color: rgb(97, 97, 255);
    line-height: 0.75em;

    font-size: 1.75rem;
    font-weight: 400;
}

.card1:hover {
    border-color: orange;
}

.card2:hover {
    border-color: red;
}

.card3:hover {
    border-color: blue;
}

a:hover{
    text-decoration: none;
    border-bottom: none;
}

.arrow-icon {
    transition: transform 0.3s ease; /* Add a transition effect for smoother movement */
  }
  
  .cta-button:hover .arrow-icon {
    transform: translateX(5px); /* Move the arrow icon 5 pixels to the right on hover */
  }

}