/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

// $font-size-h1: em(100px);

// Header font settings
@mixin header-font-sizes ($h1-size, $h2-size, $h3-size, $h4-size, $h5-size) {
    // font-family: poppins;
    font-family: poppins-medium;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;

    @if h1 {
        font-size: $h1-size;
        line-height: lh(42px);
    }

    @else if h2 {
        font-size: $h2-size;
        font-family: poppins-medium;
        line-height: lh(32px);
        
    }

    @if h3 {
        font-size: $h3-size;
        line-height: lh(32px);
    }

    @if h4 {
        font-size: $h4-size;
        line-height: lh(24px);
    }

    @if h5 {
        font-size: $h5-size;
        line-height: lh(24px);
    }
}